body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #000080;
}

header {
    background-color: #176fc7;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
}

main {
    display: flex; /* Cambia la dirección a una fila */
    flex-direction: row; /* Alinea los elementos en una fila */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    position: relative; /* Mantiene la posición relativa */
    gap: 20px; /* Añade un espacio entre la imagen y los botones */
}

footer {
    background-color: #176fc7;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
